@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #292c34;
	font-family: Asap, san-serif;
}
header {
	background: white;
	padding: 10px;
}
header > h1 {
	color: #25272e;
	text-align: center;
	font-family: Asap, san-serif;
	font-weight: bold;
}
.score-board {
	position: relative;
	border: 3px solid white;
	border-radius: 4px;
	width: 200px;
	margin: 20px auto;
	color: white;
	font-size: 40px;
	text-align: center;
	padding: 15px 20px;
}
.badge {
	background: #e25840;
	color: white;
	font-size: 14px;
	padding: 2px 10px;
}
#player-one {
	position: absolute;
	top: 10px;
	left: -200px;
}
#player-two {
	position: absolute;
	top: 10px;
	right: -200px;
}
.result {
	font-size: 40px;
	color: white;

}
.result > p {
	text-align: center;
	font-weight: bold;
}
.choices {
	text-align: center;
	margin-top: 50px;

}
.choice {
	display: inline-block;
	border: 4px solid white;
	border-radius: 60%;
	padding: 10px;
	margin: 0 20px;
	transition: all 0.3s ease;
}

.choice:hover {
	cursor: pointer;
	background: red;
}
#action-message {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
}

